extends layout

block layout-content
    head
    form.show
            label.label(for='name') Name
            input#name.form-control(type='text' name='name' placeholder='First & Last Name')
            br
            label.label(for='email') Email
            input#email.form-control(type='email' name='email' placeholder='example@domain.com')
            br
            label.label(for='message') Message
            textarea.form-control(rows='5' cols='50' name='message')
            button#submit(name='submit' type='submit') Submit