extends layout

block layout-content
    div.Message
      div.Title
        h1 Hello
        p.Details My name is Houssem Bacha
    div.Message
      div.Title
        h1 Welcome
        p.Details to my website builted using EXPRESS
